<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
}) do |f| %>
  
  <%= f.error_notification %>

  
  <%= f.input :name %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <h3>Change Password</h3>
  <i>(leave blank if you don't want to change it)</i>
  <%= f.input :password, label: 'New Password', autocomplete: "off" %>
  <%= f.input :password_confirmation, label: 'Confirm New Password', autocomplete: "off" %>
  <%= f.input :current_password, autocomplete: "off" %>

  <%= f.button :submit, value: 'Update', class: "btn btn-primary btn-lg" %>

<% end %>

<h3>Cancel my account</h3>

<p>
  Unhappy?
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-lg", method: :delete %></p>

<%= link_to "Back", :back %>
